body{
    font-family: 'Open Sans Condensed', sans-serif;
}

#headerarea, #addarea, #searcharea{
    margin-bottom: 30px;
}

.card-header strong{

}

.table thead th{
    vertical-align: top;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	.table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #d8d8d8; 
		position: relative;
        padding-left: 120px; 
        text-align: left !important;
	}
	
	.table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 12px;
		left: 6px;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Room Number"; }
	td:nth-of-type(4):before { content: "Room Type"; }
	td:nth-of-type(5):before { content: "Brand"; }
	td:nth-of-type(6):before { content: "Nationality"; }
	td:nth-of-type(7):before { content: "Review Score"; }
	td:nth-of-type(8):before { content: "Staff"; }
	td:nth-of-type(9):before { content: "Facilities"; }
    td:nth-of-type(10):before { content: "Cleanliness"; }
    td:nth-of-type(11):before { content: "Comfort"; }
    td:nth-of-type(12):before { content: "Location"; }
    td:nth-of-type(13):before { content: "Value for Money"; }
    td:nth-of-type(14):before { content: "Original Comment"; }
    td:nth-of-type(15):before { content: "Translation"; }
    td:nth-of-type(16):before { content: "Action"; }


}