// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: $primary_font;
	background-color: $body_bg;

	#page {

		#toparea {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 5;
			padding-top: 15px;
			padding-bottom: 15px;

			.container {
				max-width: none;

				.logo_c {
					a {
						img {
							max-width: 130px;

							@media (max-width: 991px) {
								max-width: 80px;
							}
						}
					}
				}

				.menu_c {
					text-align: right;

					nav{
						ul#MainMenu {
							list-style-type: none;
	
							li {
								display: inline-block;
								line-height: 113px;
	
								a {
									color: $white;
									font-weight: 300;
									font-size: 30px;
									text-transform: uppercase;
									margin: 0px 15px;
									padding: 5px 0;
									position: relative;
									display: inline;
	
									&:before, &:after{
										position: absolute;
										left: 0px;
										width: 100%;
										height: 2px;
										background: #FFF;
										content: " ";
										opacity: 0;
										transition: all 0.3s;
									}
	
									&:before{
										top: 0px;
										transform: translateY(10px);
									}
	
									&:after{
										bottom: 0px;
										transform: translateY(-10px);
									}
	
									&:hover{
										&:before, &:after{
											opacity: 1;
											transform: translateY(0px);
										}
									}

									&.dropdown-toggle{
										&:after{
											margin-left: 0px;
											border-top: 0px;
										}
									}
								}

								&:hover{
									.dropdown-menu{
										display: block;
										top: 85px;
										-webkit-animation: slide-down .5s ease-out;
    									-moz-animation: slide-down .5s ease-out;
									}
								}

								.dropdown-menu{
									transform: none !important;  
									top: 85px !important; 
									   
									li{
										line-height: 50px;
										display: block;
										text-align: center;

										a{
											display: block;
											margin:0;
											padding:0;
											color: $black;
											-webkit-transition: color 0.5s ease-out;
											-moz-transition: color 0.5s ease-out;
											-o-transition: color 0.5s ease-out;
											transition: color 0.5s ease-out;

											&:before, &:after{
												display: none;
											}

											&:hover{
												background-color: transparent;
												color: $gold;
											}
										}
									}

									&.show{
										transform: none !important;  
										top: 85px !important;     
									}
								}

							}
	
							li.menu-btn {
	
								a {
									background-color: $gold;
									border-radius: 10px;
									display: inline;
									padding: 7px 30px;
									transition: all 1s;
									letter-spacing: 1.5px;
	
									&:hover{
										background-color: $red;
									}
	
									&:before, &:after{
										display: none;
									}
								}
							}
						}

						@media (max-width: 1450px) {
							display: none;
						}
					}

					.mobile-nav{
						display: none;

						a{
							color: $white;
							font-size: 60px;

							@media (max-width: 991px) {
								font-size: 50px;
							}
						}

						@media (max-width: 1450px) {
							display: block;
						}
					}
					
				}

			}
		}

		#bannerarea {
			position: relative;

			.n2-ss-slide-background-wrap {
				&:after {
					content: " ";
					display: block;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, .20);
					position: absolute;
					z-index: 5;
                }
                
			}

			#n2-ss-2item2,
			#n2-ss-2item1 {
				font-family: $primary_font !important;
            }
            
            *{
                font-family: $primary_font !important;
			}
			
			&.inner{
				background-position: center center;

				&:before{
					content: " ";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top:0;
					left:0;
					background-color: rgba(0,0,0,.20);
				}

				.container{
					height: 508px;
					max-width: 1320px;

					h1{
						text-transform: uppercase;
						color: $white;
						font-size: 160px;
						font-weight: 400;

						@media (max-width: 991px) {
							font-size: 80px;
						}
					}
				}
			}

		}

		#breadcrumbsarea{
			background-color: $white;
			-webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
			-moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
			box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
			z-index: 5;
			position: relative;

			.container {
				max-width: 1320px;

				#breadcrumbs{
					span{
						color: $teal;
						font-size: 18px;

						a{
							color: $grey;

							&:hover{
								text-decoration: none;
							}
						}

						span.breadcrumb_last{
							color: $gold;
						}
					}
				}
			}
		}

		#footerarea {
			background-color: $footer_bg;
			padding-top: 20px;
			padding-bottom: 20px;

			.container {
				max-width: 1320px;

				.footermenu {

					hr {
						border-bottom: 1px solid $grey;
					}

					h3 {
						color: $white;
						font-size: 28px;
						font-weight: 400;
						margin-bottom: 20px;
					}

					ul {
						list-style-type: none;
						columns: 5;
						-webkit-columns: 5;
						-moz-columns: 5;
						margin: 0;
						padding: 0;
						width: 100%;

						li {
							display: block;
							margin-bottom: 7px;

							a {
								color: $grey;
								font-size: 20px;
								transition: all 1s;

								&:hover {
									color: $white;
									text-decoration: none;
								}
							}
						}
					}
				}

				.footerbottom {
					color: $white;
					font-size: 18px;

					.ftb-col{
						height: 30px;
						line-height: 30px;

						.textwidget{
							display: inline-block;
	
							a{
								color: $white;
								font-size: 30px;
								display: inline-block;
								margin-left: 10px;
								transition: all 1s;

								&:hover{
									color: $red;
								}
							}
						}
					}					
				}
			}


		}

		#searchbararea {
			background-color: $teal;

			.container {
				max-width: 1320px;
				padding-top: 60px;
				padding-bottom: 45px;

				.row {

					.form-group {

						.form-control {
							height: calc(1.5em + .75rem + 18px);
							font-size: 24px;
							color: $black;
							font-weight: 400;
						}

						input[type=submit] {
							background-color: $gold;
							border-radius: 5px;
							font-size: 30px;
							color: $white;
							font-weight: 400;
							text-align: center;
							width: 100%;
							padding: 10px 0;
							transition: all 1s;
							letter-spacing: 1.5px;
							
							&:hover{
								background-color: $red;
							}
						}
					}


				}
			}
		}


		#contentarea {
			padding-top: 35px;
			padding-bottom: 35px;

			> .container{
				max-width: 1320px;
			}

			> .row{
				display: none;
			}

			.elementor-section-boxed {
				.elementor-container {
					max-width: 1320px;
				}
			}

			.non-elementor-section-boxed.wbox{
				> .elementor-container{
					.elementor-row{
						p{
							font-family: "Roboto Condensed",sans-serif;
							color:#000;
							font-size: 18px;
							font-weight: 400;
						}
	
					}
				}
				
			}
			.non-elementor-section-boxed.wbox.bblog{
				> .elementor-container{
					padding-left: 0px !important;
					padding-right: 0px !important;

					.elementor-row.main-content{
						h1{
							font-family: "Roboto Condensed",sans-serif;
							color:#000;
							font-size: 33px;
							font-weight: 400;
						}

						p{
							font-family: "Roboto Condensed",sans-serif;
							color:#000;
							font-size: 18px;
							font-weight: 400;
						}

						a{
							color: #E1A34C;

							&:hover{
								color: #DB3656
							}
						}

						img{
							width: 100%;
							margin-bottom: 20px;
						}
						.entry-meta{
							margin-bottom: 20px;
						}
						.entry-footer{
							display: none;
						}
					}
					.elementor-row{
						#right-sidebar{
							width: 100%;
							display: block;
							max-width: none;
							padding: 0px;

							h3{
								font-family: "Roboto Condensed",sans-serif;
								color:#000;
								font-size: 25px;
								font-weight: 400;
							}
							a{
								color: #E1A34C;
	
								&:hover{
									color: #DB3656
								}
							}
							ul{
								list-style-type: none;
								padding-left:10px;
								margin-bottom: 10px;
							}
							
							#search-2{
								margin-bottom: 30px;
							}
						}
					}
				}
				
			}

			// content white box
			.elementor-section-boxed.wbox, .non-elementor-section-boxed.wbox{

				> .elementor-container{
					padding-left: 15px;
					padding-right: 15px;

					> .elementor-row{
						border-radius: 5px;
						background-color: $white;
						padding: 15px;
						-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
						-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
						box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
						border: 1px solid $grey2;

						.elementor-element-populated{
							padding: 0px; 

							.elementor-widget-wrap{
								margin-bottom: 0px;

								.elementor-widget-heading{
									margin-bottom: 15px;

									h2{
										font-family: $primary_font;
										color: $black;
										font-size: 28px;
										font-weight: 400;
									}
								}

								.elementor-widget-text-editor{
									font-family: $primary_font;
									color: $black;
									font-size: 18px;
									font-weight: 400;
									margin-bottom: 15px;

									a{
										font-size: 20px;
										font-weight: 700;
										color: $black;
									}
								}

								.elementor-widget-button{
									a{
										transition: all 1s;
										letter-spacing: 1.5px;
										background-color: $gold;

										&:hover{
											background-color: $red;
										}
									}
								}
							}
						}
					}

					&.elementor-column-gap-narrow{
						.elementor-row{
							column-gap: 15px; 
						}
					}

				}

				
			}


			// special offerbox
			.elementor-section-boxed.specialofferbox {

				> .elementor-container{
					
					> .elementor-row{
						background: url(http://www.alfe.thaitraveltour.com/wp-content/uploads/2020/02/Banner-1.png) 50% 50% no-repeat;
						padding: 30px;

						.elementor-element-populated{
							
							.elementor-widget-wrap{

								.elementor-widget-heading{
									margin-bottom: 0px;
								}
							}
						}
					}
				}
			}
			.elementor-section-boxed.specialofferbox2{

				> .elementor-container{
					
					> .elementor-row{
						background: url(http://www.alfe.thaitraveltour.com/wp-content/uploads/2020/02/Banner.png) 50% 50% no-repeat;
						padding: 30px;

						.elementor-element-populated{
							
							.elementor-widget-wrap{

								.elementor-widget-heading{
									margin-bottom: 0px;
								}
							}
						}
					}
				}
			}



		}



		.pbbox{
			position: relative;

			.pbbox-img{
				overflow:hidden;

				img{
					width: 100%;
					position: relative;
					transition-property: all;
					transition-duration: 0.8s; 
					transition-timing-function: ease-in-out;
					transition-delay: 0s;

					&:hover{
						transform: scale(1.2) rotate(2deg); 
					}
				}
			}
			.pbbox-action{
				background-color: rgba(0, 0, 0, .60);
				position: absolute;
				width: 100%;
				height: 45px;
				line-height: 45px;
				bottom: 0px;
				left: 0px;
				font-size: 20px;
				color: $white;
				font-family: $primary_font;
				padding: 0 10px;

				a{
					color: $white;
					float: right;
					display: block;

				}

				&:after{
					clear: both;
					content: " ";
					display: block;
				}
			}
			.pbbox-title{
				h3{
					font-size: 22px;
					color: $black;
					font-weight: 700;
					margin: 15px 0 10px 0;
				}
			}
			.pbbox-meta{
				color: $grey;
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 5px;

				a{
					color: $teal;
				}
			}
			.pbbox-summary{
				p{
					font-size: 16px;
					color: $black;
					margin-bottom: 10px;
				}
			}
			.pbbox-btn{
				a{
					display: inline-block;
					background-color: $gold;
					color: $white;
					font-size: 16px;
					padding: 5px 15px;
					border-radius: 5px;
					transition: all 1s;

					&:hover{
						background-color: $red;
					}
				}
			}

			@media (max-width: 767px) {
				margin-bottom: 15px;
			}

			&.services{
				.pbbox-img{
					overflow: visible;
					img{
						max-width: 195px;

						&:hover{
							-webkit-transform: scale(1.05) rotate(0deg);
							-moz-transform: scale(1.05) rotate(0deg);
							-ms-transform: scale(1.05) rotate(0deg);
							-o-transform: scale(1.05) rotate(0deg);
							transform: scale(1.05) rotate(0deg);
						}
					}
				}
			}

			&.counter{
				.pbbox-bold-txt{
					color: $teal;
					font-weight: 700;
					font-size: 100px;
				}
			}
		} 

		.wpcf7{

			max-width: 833px;
			form.wpcf7-form{

				.form-group{

					input[type=text], input[type=email], textarea{
						color: #000;
						border: 1px solid $grey;
						font-size: 22px;
						padding: 10px 10px;
						font-weight: 400;
						-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
						-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
						box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
					}

					input[type=submit]{
						width: auto;
						height: auto;
						text-transform: uppercase;
						color: $white;
						font-size: 22px;
						background-color: $gold;
						padding: 15px 80px;
						border: none;
						transition: all 1s;

						&:hover{
							background-color: $red;
						}
					}
				}
			}
		}
		
		.review-box{

			

			.review-img{

			}

			.review-content{
				position: relative;
				padding: 60px 20px 0px 107px;

				&:before{
					content: " ";
					display: block;
					background: url('/wp-content/uploads/2020/03/left_quote.png') 0 0 no-repeat transparent;
					width: 101px;
					height: 66px;
					position: absolute;
					top:0px;
					left:0px;
				}

				&:after{
					content: " ";
					display: block;
					background: url('/wp-content/uploads/2020/03/right-quote.png') 0 0 no-repeat transparent;
					width: 101px;
					height: 66px;
					position: absolute;
					bottom:50px;
					right:0px;
				}

				.review-msg{

					p{
						font-size: 24px;
						color: $black;
						line-height: 31px;
					}
				}

				.review-author{
					font-size: 24px;
					color: $black;  

					.ra_1{
						font-weight: bold;
						color: $teal;
					}

					.ra_2{
						color: $gold;
					}
				}

				.review-rating{
					font-size: 27px;
					color: #FFE607;
					margin-top: 10px;

					i{
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
			.review-box-border{
				border-bottom: 1px solid #F5F5F5;
				margin: 20px 0;
			}


		}	
		
		#wp-travel-trip-wrapper{

			&.trip-content-area{
				max-width: none;
				padding:0px; 

				#primary{


					h1{
						font-family: "Roboto Condensed",sans-serif;
						color:#000;
						font-size: 28px;
						font-weight: 400;
					}
					.post-thumbnail{
						margin-bottom: 35px;

						img{
							width: 100%;
						}
					}

					.entry-content{

						footer.entry-footer{
							display: none;
						}
					}

					#wte_enquiry_contact_form{
						margin-right: 0px;
						margin-left: 0px;
					}
				}

				#secondary{
					
				}
			}
		}

	}

}

