// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$gold: #E1A34C; 
$teal: #3BA3A1;
$black: #000000;
$white: #FFFFFF;
$grey: #C4C4C4;
$grey2: #D9D9D9;
$footer_bg: #292929;
$red: #DB3656;

$primary_font: 'Roboto Condensed', sans-serif;
$body_bg: #F5F5F5;


@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-10%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-10%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}
